body{
    background-color:white;
}

.btn{
    cursor:pointer
}

h1{
    color: #c20dc9;
    transition: color 0.5s ease-in-out;
}

.cliked {
    color: #7f8c8d;
}

.form,
.greetings{
    display:none;
}

.showing{
    display: block;
}